      /*全局样式*/
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body{
        font-size: .12rem;
        font-family: "华文细黑","Microsoft YaHei","黑体",sans-serif;
        padding-bottom:.70rem;
      }
      ul,ol{
        list-style: none;
      }
      img{
        border:none;
        vertical-align:middle;
      }
      a{
        text-decoration: none;
        color:#333;
      }
      a:hover{
        color:#f00;
      }
      textarea,input,a{
        outline:none;
        }
      textarea{
        resize:none;
        }
      .clearfixed:after{
        content:".";
        display:block;
        clear:both;
        font-size:0;
        height:0;
      }
      html{
        font-size: 100px;
      }

      /* 全局样式 */
        *{
            padding: 0;
            margin: 0;
        }
        html{
            font-size: 100px;
            display: block;
        }
        body{
            font-family: 微软雅黑;
            font-size: 14px;
            line-height: 1.5;
            color: #666;
        }
        img{
            vertical-align: top;
            border: 0;
        }
        ul{
          list-style: none;
        }
        a{
          text-decoration: none;
        }

